<li>
  <div>

    {{#if devoured}}
    <h5 class="deletedWord" data-id="{{this.id}}"><button class="btn btn-sm btn-danger eaten-burger"
        data-newDevoured="true" data-id="{{id}}" data-devoured="{{devoured}}"> delete &nbsp; <i
          class="fas fa-trash-alt"></i></button>

      <del> &nbsp;&nbsp;{{this.burger_name}}</del> </h5>

    {{else}}
    <h5 data-id="{{this.id}}">
      <button class="btn btn-sm btn-success eat-burger" data-newDevoured="true" data-id="{{id}}"
        data-devoured="{{devoured}}">eat it &nbsp; <i class="fas fa-teeth-open"></i></button>
      &nbsp;&nbsp;{{this.burger_name}} </h5>

    {{/if}}
  </div>

</li>